.welcome-message{
    text-align: center;
    font-family:valeria round, quicksand, sans-serif;
    color: rgb(63, 91, 119);
    font-size: 40px;
    margin-left: 300px;
    margin-top: 100px;
    display:flex;
    align-items: center;
    flex-direction: column;

}
#govendor{
    margin-top: -30px;
}

@media (max-width: 480x) {
    .welcome-message{
        margin-left: 10px;
        font-size: 30px;
    }
}